name: CI-CD-Pipeline-6710110065
on:
  push:
    branches: [ "main" ]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "Building the application..."

  Test:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - run: echo "Running automated tests..."

  Deploy:
    runs-on: ubuntu-latest
    needs: Test
    steps:
      - run: echo "Deploying to production server..."
